/*
@media only screen and (max-width: 576px) xs
@media only screen and (min-width: 577px) and (max-width: 768px) sm
@media only screen and (min-width: 769px) and (max-width: 992px) md
@media only screen and (min-width: 993px) and (max-width: 1200px) lg

*/
.container {
  transition: margin-left 0.3s ease;
  margin-left: 290px;
}
@media only screen and (max-width: 576px) {
  .container {
    margin-left: 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .container {
    margin-left: 0;
  }
}

.navBar {
  position: fixed;
  z-index: 98;
  top: -100%;
  left: 0;
  right: 0;
  padding: 10px;
  height: 78px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: top 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .navBar {
    top: 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navBar {
    top: 0;
  }
}
.navBar__openSideBar {
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  cursor: pointer;
  background-color: transparent;
}
.navBar__openSideBar i {
  font-size: 2.8rem;
  color: #000;
}
.navBar__openSideBar:hover {
  background-color: #000;
}
.navBar__openSideBar:hover i {
  color: #fff;
}
.navBar__actions__list {
  list-style: none;
  margin: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBar__actions__list > li {
  padding: 0px 8px;
  position: relative;
}
.navBar__actions__list > li a,
.navBar__actions__list > li i {
  color: #7d7d7d;
  font-size: 2.6rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.navBar__actions__list > li span {
  position: absolute;
  top: -18%;
  right: -2px;
  background: #000;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #fff;
}
.navBar__actions__list > li:hover a,
.navBar__actions__list > li:hover i {
  color: #FDD922;
}

.sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  transition: left 0.3s ease;
  bottom: 0;
  width: 290px;
  background-color: #fff;
  padding: 20px 0px;
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .sidebar {
    left: -100%;
  }
}
@media only screen and (max-width: 576px) {
  .sidebar {
    left: -100%;
  }
}
.sidebar.show {
  left: 0;
}
.sidebar__icon__close {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.sidebar__icon__close i {
  font-size: 3.2rem;
  cursor: pointer;
  color: #000;
}
.sidebar__icon__close i:hover {
  color: #7d7d7d;
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .sidebar__icon__close {
    display: block;
  }
}
@media only screen and (max-width: 576px) {
  .sidebar__icon__close {
    display: block;
  }
}
.sidebar__logo__image > a {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__logo__image > a > img {
  display: block;
  height: 100%;
}
.sidebar__actions {
  list-style: none;
  margin: 25px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__actions > li {
  padding: 0px 8px;
  position: relative;
}
.sidebar__actions > li a, .sidebar__actions > li i {
  color: #7d7d7d;
  font-size: 2.6rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.sidebar__actions > li span {
  position: absolute;
  top: -18%;
  right: -2px;
  background: #000;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.1rem;
  color: #fff;
}
.sidebar__actions > li:hover a, .sidebar__actions > li:hover i {
  color: #FDD922;
}
.sidebar__brands {
  height: -webkit-fill-available;
  overflow-y: scroll;
  margin-top: 20px;
  list-style: none;
}
.sidebar__brands__item a {
  color: #000;
  display: block;
  padding: 10px;
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
  letter-spacing: 2px;
}
.sidebar__brands__item a:hover {
  color: #FDD922;
  text-decoration: underline;
  background-color: #f7f7f7;
}

.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  right: 100%;
  transition: right 0.3s ease;
}
@media only screen and (max-width: 576px) {
  .overlay.show {
    right: 0;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .overlay.show {
    right: 0;
  }
}

.home__slider {
  width: calc(100vw - 290px);
  height: calc((100vw - 290px) / 2);
  background-color: red;
}
@media only screen and (max-width: 576px) {
  .home__slider {
    width: 100vw;
    height: 50vw;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .home__slider {
    width: 100vw;
    height: 50vw;
  }
}

/*# sourceMappingURL=home.css.map */
